<mat-card class="example-card" *ngFor="let post of posts">
  <mat-card-header>
      <img mat-card-avatar [src]=post.sourceAvatarLink alt="avatar">
    <mat-card-title>{{post.sourceName}}</mat-card-title>
    <mat-card-subtitle>{{post.date}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="images">
      <mat-grid-list cols="4" rowHeight="300px">
        <mat-grid-tile class="tile" *ngFor="let picture of post.pictures">
          <img class="image" [src]=picture alt="pic">
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <p>{{post.description}}</p>
  </mat-card-content>
  <div class="buttons">
    <mat-card-actions>
      <button mat-button>Source Post</button>
      <button mat-button>View Full</button>
    </mat-card-actions>
  </div>

</mat-card>
